@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.titulo {
    font-size: 1.3rem;
}

h3 {
    color: blue;
}

h3:not(.titulo) {
    font-size: 2rem;
}

input {
    outline: none;
}

input:focus {
    background: brown;
}

p::selection {
    background: blue;
}

p::first-line {
    background: cadetblue;
}

p::first-letter {
    font-size: 40px;
}



/*disabled*/